.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    max-width: 400px;
    margin: 0px 40px;
}

.Card_title {
    font-weight: 500;
}

.Card_text {
    opacity: 0.8;
    height: 40px;
}
