.Nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.Nav_brand {
    padding-left: 20px;
    cursor: pointer; 
    font-size: 1.8rem;
}

.Nav_links {
    display: flex;
    justify-content: space-evenly;
}

.Nav_item {
    padding-right: 20px;
    font-size: 1.1rem;
    cursor: pointer; 
    transition: 0.15s ease-in-out;
}

div.Nav_item {
    color: black;
    opacity: 0.6;
}

.Nav_item:hover {
    color: black;
    font-weight: 500;
}

@media screen and (max-width: 570px) {
    .Nav {
        display: flex;
        flex-direction: column;
    }

}


.highlight {
    border-left: 5px solid #F18F01;
    border-radius: 10%;
}

